<h1>Enter your <a href="https://account.arena.net/applications">API Key</a> to browse your data</h1>
<h2>Features:</h2>
<ul>
  <li>No data is stored at all. Your data is free.</li>
  <li>However, there's a 10 minutes cache to improve user experience.</li>
  <li>You could paste your URL for other people to browse your data.</li>
  <li>Your API Key is encrypted with AES128-GCM in the URL. (namely, t=...)
      Therefore your API Key is safe and hidden to 3rd party.</li>
  <li>Give whatever permissions.
      Data without permission would simply be hidden or ignored.</li>
  <li>Feel free to share your data on the
      <a href="https://github.com/godfat/rest-gw2/issues">issue tracker</a>,
      or report issues, of course. This is
      <a href="https://github.com/godfat/rest-gw2/issues/1">godfat.2604</a>.
  </li>
</ul>
