<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US">
  <head profile="http://www.w3.org/2005/10/profile">
    <meta http-equiv="Content-Type"
          content="application/xhtml+xml; charset=utf-8"/>
    <meta name="description"
          content="GW2 Account Browser allows you to browse your data"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" type="image/png" href="https://render.guildwars2.com/file/220061640ECA41C0577758030357221B4ECCE62C/502065.png"/>
    <title>GW2 Account Browser</title>
    <style type="text/css">
      .menu li{ display: inline-block; }
      .menu li:before{ content: '| '; }
      .menu li:first-child:before{ content: none; }
      .item li{ display: inline-block; border: 1px solid;
                width: 25%; max-width: 400px; white-space: nowrap;
                padding: 5px; margin: 5px; }

      li.dye  { max-width: 275px; text-align: center; }
      li.dye .description{ max-width: 100%; }

      .description{ display: inline-block; vertical-align: middle;
                    white-space: nowrap; max-width: 80%;
                    overflow: hidden; text-overflow: ellipsis; }
      .description:hover{ overflow: visible; }
      .icon { width: 64px; height: 64px;
              display: inline-block; vertical-align: middle; }
      .missing{ opacity: 0.4; }
      .price{ vertical-align: -1.5px; padding-left: 1px; }

      table{ margin: 1em; border: 1px solid; border-collapse: collapse; }
      th, td{ padding: 10px; border: 1px solid; }
      .active-false{ text-decoration: line-through; }
      .error{ margin: 1em; }
      .rarity{ border: 2.5px solid; }
      .rarity-junk{ border-color: #aaa; }
      .rarity-basic{ border-color: #000; }
      .rarity-fine{ border-color: #62a4da; }
      .rarity-masterwork{ border-color: #1a9306; }
      .rarity-rare{ border-color: #fcd00b; }
      .rarity-exotic{ border-color: #ffa405; }
      .rarity-ascended{ border-color: #fb3e8d; }
      .rarity-legendary{ border-color: #4c139d; }
    </style>
  </head>
  <body>
    <div id="menu">
      <%= erb :menu %>
    </div>
    <div id="access_token">
      <form method="post" enctype="application/x-www-form-urlencoded"
            action="<%= path('/access_token') %>">
        <input type="hidden" name="referrer"
               value="<%= path(request.path) %>"/>
        API Key:
        <input type="text" id="access_token_input" name="access_token"
               size="72" minlength="72" maxlength="72"
               onclick="this.select()"/>
      </form>
    </div>
    <div id="content">
      <hr/>
      <%= yield %>
    </div>
    <div id="footer">
      <a href="https://gw2.godfat.org/">Site</a>
      /
      <a href="https://github.com/godfat/rest-gw2">Source</a>
      /
      <a href="https://github.com/godfat/rest-gw2/issues">Help</a>
      &copy;
      2015-2016 Lin Jen-Shin (godfat.2604)
    </div>
  </body>
</html>
