<ul class="menu">
  <li><%= menu_skin('/backpacks', 'Skins') %></li>
  <li><%= menu_unlock('/dyes', 'Dyes') %></li>
  <li><%= menu_unlock('/minis', 'Minis') %></li>
  <li><%= menu_unlock('/cats', 'Cats') %></li>
</ul>
