<ul class="menu">
<% jellyfish.class.armors.each do |armor| %>
  <li><%= menu_skin("/armors/#{armor.downcase}/#{@weight}", armor) %></li>
<% end %>
</ul>

<ul class="menu">
<% jellyfish.class.armors_weight.each do |weight| %>
  <li><%= menu_skin("/armors/#{@subtype}/#{weight.downcase}", weight) %></li>
<% end %>
</ul>
