<ul class="menu">
<% arg[:guilds].each do |guild| %>
  <li><%= show_guild(guild) %></li>
<% end %>
</ul>

<ul class="menu">
  <li><%= menu_guild(arg[:gid], '', 'Members') %></li>
  <li><%= menu_guild(arg[:gid], '/items', 'Items') %></li>
</ul>
