<%= erb :menu_unlocks %>

<%= erb :unlock_percentage,
  :current => arg[:unlocked], :total => arg[:unlocks].size %>

<ul>
<% arg[:unlocks].each do |cat| %>
  <li>
    <%= if cat['unlocked'] then '✅' else '❎' end %>
    <%= cat['name'] %>
  </li>
<% end %>
</ul>
