<%= erb :menu_unlocks %>

<%= erb :unlock_percentage,
  :current => arg[:unlocked], :total => arg[:unlocks].size %>

<ul>
<% arg[:unlocks].each do |unlock| %>
  <li>
    <%= if unlock['unlocked'] then '✅' else '❎' end %>
    <%= unlock['name'] %>
  </li>
<% end %>
</ul>
