Total Played:
<%= duration(@total).join(' ') %> (<%= @total / 3600 %> hours)

<h2>Characters</h2>
<table id="characters">
  <tr>
    <th>Name</th>
    <th>Profession</th>
    <th>Race &amp; Gender</th>
    <th>Played</th>
    <th>Life Cycle</th>
    <th>Death</th>
    <th>Birth</th>
  </tr>
  <% @chars.each do |c| %>
  <tr>
    <td>
      <%= menu_char(c['name']) %> (<%= h c['level'].to_s %>)
      <br/>
      <%= show_guild(c['guild']) if c['guild'] %>
    </td>
    <td><%= h c['profession'] %></td>
    <td><%= h "#{c['race']} #{c['gender']}" %></td>
    <td><%= duration(c['age']).take(2).join(' ') %></td>
    <td><%= duration((c['age'].to_f / (c['deaths'] + 1)).round).
              take(2).join(' ') %></td>
    <td><%= c['deaths'] %></td>
    <td><%= h c['created'] %></td>
  </tr>
  <% end %>
</table>

<h2>Crafting</h2>
<table id="crafting">
<% jellyfish.class.crafting.each do |d| %>
  <tr>
    <th><%= d %></th>
    <% @craftings[d].sort.reverse_each do |(rating, name, active)| %>
    <td class="active-<%= active %>"><%= "#{name} (#{rating})" %></td>
    <% end %>
  </tr>
<% end %>
</table>
