<% if @dyes.size > 0 %>
Unlocked: <%= @unlocked %> / <%= @dyes.size %>
(<%= ((@unlocked.to_f/@dyes.size)*100).to_i %>%)
<% end %>
<br/>
Total: <%= price(@buy) %> / <%= price(@sell) %>
<ul class="item">
<% @dyes.each do |dye| %>
  <li class="dye">
    <%= item_wiki(dye) %>
    <%= dye_color(dye) %>
    <br/>
    <span class="description">
      <%= h item_name(dye) %>
      <%= h item_count(dye) %>
      <br/>
      <%= item_price(dye) || '(Starter Set)' %>
    </span>
  </li>
<% end %>
</ul>
