<ul class="menu">
<% @guilds.each do |guild| %>
  <li><%= show_guild(guild) %></li>
<% end %>
</ul>

<% @stash.each do |upgrade| %>
<h2><%= upgrade['name'] %> (<%= price(upgrade['coins'] || 0) %>)</h2>
<%= item_wiki(upgrade) %>
<%= erb :items, upgrade['inventory'] %>
<% end %>

<h2>Treasury</h2>
<%= erb :items, @treasury %>
