<table>
<% @info.each do |key, value| %>
  <% if value.kind_of?(Array) %>
    <% value.each.with_index do |v, i| %>
  <tr>
    <th><%= h key %> (<%= i %>)</th>
    <td><%= h v %></td>
  </tr>
    <% end %>
  <% else %>
  <tr>
    <th><%= h key %></th>
    <td><%= h value.to_s %></td>
  </tr>
  <% end %>
<% end %>
</table>
