<ul class="item">
<% @items.each do |item| %>
  <li>
  <% if item %>
    <%= item_wiki(item) %>
    <span class="description">
      <%= h item['name'] %>
      <%= h item_count(item) %>
      <br/>
      <%= item_price(item) %>
    </span>
  <% else %>
    <img class="icon"
         src="https://upload.wikimedia.org/wikipedia/commons/d/d2/Blank.png"/>
  <% end %>
  </li>
<% end %>
</ul>
