<ul class="item">
<% @items.each do |item| %>
  <li>
  <% if item %>
    <%= item_wiki(item) %>
    (<%= item['count'] %>) <%= item['name'] %> <%= item_price(item) %>
  <% else %>
    N/A
  <% end %>
  </li>
<% end %>
</ul>
