<%= item_wiki(arg) %>
<%= item_wiki(arg['skin']) if arg['skin'] %>
<%= item_wiki_list(arg['upgrades']) if arg['upgrades'] %>
<%= item_wiki_list(arg['infusions']) if arg['infusions'] %>
<span class="description">
  <%= item_link(arg) %>
  <%= h item_count(arg) %>
  <% if damage_type = (arg['details'] || {})['damage_type'] %>
  (<%= damage_type %>)
  <% end %>
  <br/>
  <%= item_price(arg) %>
</span>
