<ul>
  <li><a href="<%= menu('/') %>">Index</a></li>
  <li><a href="<%= menu('/account') %>">Account</a></li>
  <li><a href="<%= menu('/bank') %>">Bank</a></li>
  <li><a href="<%= menu('/materials') %>">Materials</a></li>
</ul>
