<ul class="menu">
  <li><a href="<%= menu_trans('/buying') %>">Buying</a></li>
  <li><a href="<%= menu_trans('/selling') %>">Selling</a></li>
  <li><a href="<%= menu_trans('/bought') %>">Bought</a></li>
  <li><a href="<%= menu_trans('/sold') %>">Sold</a></li>
</ul>
