<ul class="menu">
  <li><%= menu_skin('/backpacks', 'Backpacks') %></li>
  <li><%= menu_skin('/weapons/greatsword', 'Weapons') %></li>
  <li><%= menu_skin('/armors/helm/light', 'Armors') %></li>
</ul>

<%= erb @skin_submenu if @skin_submenu %>

<% if @items.size > 0 %>
Unlocked: <%= @unlocked %> / <%= @items.size %>
(<%= ((@unlocked.to_f/@items.size)*100).to_i %>%)
<% end %>
<br/>
<%= erb :items, @items %>
