<ul class="menu">
  <li><%= menu_trans('/buying', 'Buying') %></li>
  <li><%= menu_trans('/selling', 'Selling') %></li>
  <li><%= menu_trans('/bought', 'Bought') %></li>
  <li><%= menu_trans('/sold', 'Sold') %></li>
</ul>

<%= erb :pages %>

Total: <%= price(@total) %>
<ul class="item">
<% @trans.each do |trans| %>
  <li>
  <%= item_wiki(trans) %>
  <span class="description">
    <%= item_link(trans) %>
    <%= h item_count(trans) %>
    <br/>
    <%= price(trans['price']) %>
    <%= abbr_time_ago(trans['purchased'] || trans['created']) %>
    <br/>
    <%= item_price(trans) %>
  </span>
  </li>
<% end %>
</ul>

<%= erb :pages %>
