<ul class="item">
<% @wallet.each do |currency| %>
  <li>
    <%= item_wiki(currency) %>
    <span class="description">
      <%= h currency['name'] %>
      <br/>
      <% if currency['name'] == 'Coin' %>
      <%= price(currency['value']) %>
      <% else %>
      <%= h currency['value'].to_s.gsub(/(\d)(?=\d{3}+$)/, '\1,') %>
      <% end %>
    </span>
  </li>
<% end %>
</ul>
